services:
  auth:
    build:
      context: .
      dockerfile: ./auth/Dockerfile
    environment:
      - PORT=80
      - SUPERTOKENS_CONNECTION_URI=${SUPERTOKENS_CONNECTION_URI}
      - SUPERTOKENS_API_KEY=${SUPERTOKENS_API_KEY}
      - API_DOMAIN=${API_DOMAIN}
      - WEBSITE_DOMAIN=${WEBSITE_DOMAIN}
      - GOOGLE_CLIENT_ID=${GOOGLE_CLIENT_ID}
      - GOOGLE_CLIENT_SECRET=${GOOGLE_CLIENT_SECRET}

  backend:
    build:
      context: .
      dockerfile: ./backend/Dockerfile
    volumes:
      - print-flow-backend-sqlite:/usr/src/app/backend/data
    environment:
      - PORT=80
      - DB_LOCATION=data/print-flow.sqlite
      - JWKS_URI=https://auth:80/auth/jwt/jwks.json
      - ALLOW_AUTH_OVERRIDE=false

  frontend:
    build:
      context: .
      dockerfile: ./frontend/Dockerfile
